body, html {
    margin: 0;
    padding: 0;
    background-color: #1F2741;
    scroll-behavior: smooth;
    color: white;
    width: 100%;
    overflow-x: hidden !important;
}

.dark {
    background-color: #1F2741 !important;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}

#parallax-home {
    height: 400px;
    transition: all .3s ease-in-out;
    position: relative;
    border-bottom-right-radius: 100px;
    background: linear-gradient(90deg, rgba(14, 153, 232, 1) 0%, rgba(109, 43, 250, 1) 100%); 
}

#parralax-home {
    transition: all .3s ease-in-out;
}

.opacity-5 {
    opacity: .5 !important;
}

.cerificate {
    width: 100%;
    border-radius: 16px;
    overflow: hidden !important;
    transition: all .3s ease-in-out !important;
    position: relative;
    cursor: pointer;
    height: 250px;
    background-color: #405FF2;
    transform: scale(1);
}
.cerificate img {
    transition: all .3s ease-in-out;
}
.cerificate:hover img {
    opacity: .5;
}
.slick-dots {
    position: relative;
    top: 10px;
}
.slick-dots li button {
    width: 10px;
    border-radius: 10px;
    border: none;
    height: 10px;
    transition: all .3s ease-in-out;
    background-color: #384583;
    transform: scale(1);
}
.slick-dots li button::before {
    display: none;
}
.slick-dots li.slick-active button {
    transform: scale(1.2) !important;
    background-color: #405FF2;
}
.cerificate::after {
    content: '';
    position: absolute;
    height: 120%;
    left: -40%;
    transform: skew(-15deg);
    background-color: white;
    width: 60px;
    transition: all .5s ease-in-out;
    transition-delay: .3s;
    filter: blur(50px);
}
.cerificate:hover::after {
    content: '';
    left: 120% !important;
}

.slick-center.slick-current {
    transition: all .3s ease-in-out !important;
    transform: scale(1);
}

.slick-slide {
    transition: all .3s ease-in-out !important;
    transform: scale(.6);
}

#parallax-home img.parallax-home {
    opacity: .5;
    position: absolute;
    border-bottom-right-radius: 100px;
}

.object-fit {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.absolute-profile {
    position: relative;
    top: 340px;
}
.absolute-profile:nth-child(2) {
    position: relative;
    top: 300px;
}

.avatar-profile {
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    border-radius: 16px;
    position: relative;
}

.btn-dark {
    border-radius: 12px;
    background-color: #262e4b;
    border: none;
    transition: all .3s ease-in-out !important;
}
.btn-dark:hover {
    background-color: #384583;
}
.btn-dark:active {
    background-color: #384583;
}
.card-dark {
    background: rgba(50, 66, 119, 0.7);
    backdrop-filter: blur(50px);
    border-radius: 16px;
}

#introduce .image {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

img#gradient {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -20px;
    right: -20px;
}

#experience {
    background-image: url('../img/experiences.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.skill .size {
    width: 70%;
    height: 7px;
    position: relative;
    left: 10%;
    border-radius: 7px;
    background-color: #b7c4f2;
}

.size .fill {
    position: absolute;
    left: 0;
    border-radius: 7px;
    bottom: 0;
    z-index: 10;
    height: 7px;
    top: 0;
}

#html { background-color: #FF5722; width: 95%; }
#css { background-color: #0E99E8; width: 90%; }
#js { background-color: #F0DB4F; width: 80%; }
#vue { background-color: #41B883; width: 75%; }
#laravel { background-color: #F66161; width: 94%; }
#bootstrap { background-color: #A074FF; width: 85%; }
#php { background-color: #405FF2; width: 80%; }
#flutter { background-color: #0E99E8; width: 65%; }
#java { background-color: #E76F00; width: 70%; }
#kotlin { background-color: #4384D9; width: 65%; }
#firebase { background-color: #F4D400; width: 45%; }
#django { background-color: #092E20; width: 35%; }
#mysql { background-color: #5382A1; width: 80%; }
#sqlserver { background-color: #5382A1; width: 65%; }
#postgre { background-color: #5382A1; width: 50%; }

.overlay-gradient-to-opacity {
    width: 100%;
    position: absolute;
    height: 400px !important;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #1F2741 0%, rgba(31, 39, 65, 0) 100%);
}
.overlay-gradient-to-opacity-top {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0 !important;
    height: 100%;
    background: linear-gradient(to top, rgba(31,39,65, 1), rgba(0,0,0,0));
}

.body-hidden {
    display: inline-block;
    position: relative;
    overflow: hidden !important;
    height: 98vh;
}

footer {
    overflow: hidden !important;
}

.menu-full-page {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(31,39,65, .5);
    backdrop-filter: blur(20px);
    opacity: 1;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    visibility: visible;
    transition: all .7s ease-in-out;
    transform: skew(0deg);
}
.hidden-menu {
    opacity: 0 !important;
    visibility: hidden !important;
    right: -100% !important;
    transform: skew(10deg) !important;
}

.toggleable-navbar {
    width: 140px;
    text-align: center;
    line-height: 65px;
    height: 70px;
    z-index: 200;
    cursor: pointer;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-image: url('../img/gradient.png');
    background-position: center;
    position: fixed;
    right: -1px;
    top: 0;
}

.toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #0E99E8;
    transition: all .3s ease-in-out;
}

.cirlce-round {
    text-align: center;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: -8px;
    display: inline-block;
    overflow: hidden;
}

.cirlce-round img {
    animation-name: imgMuter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes imgMuter {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.overlay-gradient {
    top: 0;
    position: absolute;
    height: 100%;
    left: 0;
    opacity: .4;
    width: 100%;
    background: linear-gradient(90deg, rgba(14, 153, 232, 1) 0%, rgba(109, 43, 250, 1) 100%); 
}
.bg-glass {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out !important;
}
.bg-glass:hover {
    color: #575757 !important;
    background-color: rgba(255, 255, 255, 0.8);
}
.bg-glass-white {
    width: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-family: nunito;
    transition: all .3s ease-in-out;
    backdrop-filter: blur(10px);
}
.bg-glass-white:hover {
    backdrop-filter: blur(50px);
    color: rgba(31,39,65, 1);
    background-color: rgba(255, 255, 255, 0.8);
}
.icons-socials {
    transition: all .3s ease-in-out;
}
.set-navbar {
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    opacity: 1 !important;
    height: 70px !important;
    z-index: 100 !important;
}
#my-name {
    transition: all .3s ease-in-out;
}
.set-top-name {
    position: fixed !important;
    top: 0px !important;
    left: 20px !important;
}
.set-top-name h3 {
    font-size: 1rem !important;
    position: relative;
    top: 10px;
}
#role, #my-role {
    transition: all .3s ease-in-out;
}
.set-top-role {
    position: fixed !important;
    top: 30px !important;
    left: 20px !important;
}
.set-top-role p {
    font-size: .9rem;
}
#profile-avatar {
    transition: all .3s ease-in-out;
    left: 0;
}
.hidden-component {
    position: absolute !important;
    left: -100px !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
.component-hidden {
    position: absolute !important;
    right: -100px !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.card-team {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(14, 153, 232, 1) 0%, rgba(109, 43, 250, 1) 100%); 
    height: 250px;
    cursor: pointer;
}
.card-team img {
    transition: all .3s ease-in-out;
    transform: scale(1);
}
.card-team:hover img {
    opacity: .6;
    transform: scale(1.1);
}
.card-team#me {
    z-index: 50;
    height: 500px !important;
}
@media screen and (max-width: 760px) {
    .object-fit {
        position: relative;
    }
    .avatar-profile {
        width: 100px;
        height: 100px;
        top: 0 !important;
        overflow: hidden;
        border-radius: 16px;
        position: relative !important;
    }
    .absolute-profile {
        width: 100%;
        top: 180px !important;
        position: relative !important;
        text-align: center !important;
    }
}